<nav class="navigation custom-navigation">
    {{ if not .IsHome }}
    <a href="{{ "/" | relURL }}"> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}{{ i18n
        "home" }}{{ end }}</a>
    {{ end }}
    <div class="right-links">
        {{ $page := .Page }}    
        {{ range $element := .Site.Params.Links }}
        <a href="{{ $element.path }}" class="{{ if eq $page.RelPermalink $element.path }}current{{ end }}">{{ or ($element.name | lower | i18n) ($element.name) }}</a>
        {{ end }}
    </div>
</nav>