<header class="profile extend-profile">
    <!-- {{ if .Site.Params.avatarLink }}
    <a href="{{ .Site.Params.avatarLink }}">
        <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
    </a>
    {{ else }}
    <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
    {{ end }} -->

    <h1>{{ .Site.Title }}</h1>

    {{ with .Site.Params.Bio }}
    <h2>{{ . | markdownify }}</h2>
    {{ end }}
    {{ if .Site.Params.enableRSS }}
    <a class="button" href="{{ (.OutputFormats.Get "RSS").Permalink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}{{ i18n "subscribe"
        }}{{ end }}</a>
    {{ end }}
</header>